<nav class="navbar navbar-light shadow-sm bg-white fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="#">
            LinkedIn'frep
        </a>


        {% if app.user %}
            <a href="{{ path('app_logout') }}">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('app_login') }}">
                Connexion
            </a>
        {% endif %}
    </div>
</nav>
