<div class="tweet card mb-3 ">
    <div class="card-header d-flex justify-content-between">

        <div class="author">

            Nom de l'auteur
        </div>


        <div class="tweet_date">
            Le {{ tweet.createdAt | format_datetime("long", locale="fr") }}
        </div>

    </div>

    <div class="card-body">

        <p class="card-text">
            {{ tweet.message }}
        </p>

    </div>
</div>
