{% extends "_layouts/two-columns.html.twig" %}

{# Ici, on écrase complètement le contenu déja défini dans le template parent #}
{% block title %}
    Bienvenue sur Instafrep
{% endblock %}

{% block mainColumn %}

    <h1>Liste des tweets </h1>

{% endblock %}
