{% extends "_layouts/default.html.twig" %}

{# Ici, on écrase complètement le contenu déja défini dans le template parent #}
{% block title %}
    Page de profil
{% endblock %}

{% block main %}

    <h1>Page de profile</h1>

{% endblock %}
