{% extends "_layouts/two-columns.html.twig" %}

{# Ici, on écrase complètement le contenu déja défini dans le template parent #}
{% block title %}
    Liste des membres
{% endblock %}

{% block mainColumn %}

    <h1>Liste des utilisateurs Linkedinfrep </h1>

    <ul>
        <li>Evan</li>
        <li>Paul</li>
        <li>Ben</li>
    </ul>

{% endblock %}
