{% extends '_layouts/centered.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}


    {{ form_start(loginForm) }}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}


    {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
    {#        See https://symfony.com/doc/current/security/remember_me.html#}

    {#        <div class="checkbox mb-3">#}
    {#            <label>#}
    {#                <input type="checkbox" name="_remember_me"> Remember me#}
    {#            </label>#}
    {#        </div>#}

    {{ form_end(loginForm) }}





{% endblock %}
