{% extends "_layouts/base.html.twig" %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center">

        <img src="" alt="Logo de Instafrep">

        {% block main %}{% endblock %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        console.log("Je suis le layout centré")
    </script>
{% endblock %}
