{% extends "_layouts/base.html.twig" %}

{% block body %}


    <nav>
        navbar
    </nav>

    <div class="container">
        {% block main %}

        {% endblock %}
    </div>

    {% include "_partials/_footer.html.twig" %}

{% endblock %}
