{% extends "_layouts/default.html.twig" %}

{% block main %}

    <div class="row">

        <div class="col-8">
            {% block mainColumn %}{% endblock %}
        </div>

        <div class="col-4">
            {% block sidebar %}
                Contenu par défaut de la sidebar
            {% endblock %}
        </div>
    </div>

{% endblock %}
